/* Design Model */
:root {
	--main-color: #0065fc;
	--main-bg-color: #f2f2f2;
	--filter-bg-color: #deebff;
	--highlight: #d9d9d9;
}

/* Setup */

* {
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 0 50px;
	width: 100%;
	max-width: 1440px;
}

a {
	text-decoration: none;
	color: inherit;
}

input {
	border: none;
}

ul {
	list-style-type: none;
}

h1 {
	font-size: 22px;
	font-weight: 700;
	margin: 0;
}

h2 {
	margin: 0;
	font-size: 22px;
	font-weight: 700;
}

h3 {
	margin: 0;
	font-size: 18px;
	font-weight: 700;
}

h4 {
	margin: 0;
	font-size: 16px;
	font-weight: 700;
}

/* Header */

header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.hlogo {
	height: 20px;
	width: 60px;
	margin: 30px 50px 30px 50px;
}

nav ul {
	display: flex;
	margin: 0 50px 0 50px;
	height: 35px;
	gap: 68px;
}

.nav-button {
	align-self: flex-end;
	padding: 14px 0 0 0;
}

.nav-button:hover {
	color: var(--main-color);
	border-top: 2px solid var(--main-color);
}

/* Main */

main {
	display: flex;
	margin: 0 50px;
	flex-direction: column;
}

/* Infogroup */

#infogroup {
	display: flex;
	flex-direction: column;
}

/* Headline */

.headline {
	margin-bottom: 35px;
	line-break: normal;
}

.headline h1 {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
}

.headline p {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

/* Search */

.search {
	display: flex;
	align-items: center;
	margin-bottom: 35px;
}

form {
	display: flex;
	align-items: center;
}

.search-bar {
	border-top: 2px solid var(--main-bg-color);
	border-bottom: 2px solid var(--main-bg-color);
	height: 50px;
	text-align: center;
	margin: 0;
	padding: 0;
}
.search-submit {
	height: 50px;
	padding: 15px 16px;
	gap: 10px;
	background-color: var(--main-color);
	border: none;
	border-radius: 0 15px 15px 0;
	color: white;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}

.search-submit:hover {
	cursor: pointer;
}

.loupe {
	display: none;
}

/* Filter */

.filter-bar {
	display: flex;
	align-items: center;
	margin-bottom: 35px;
}

.filter-button {
	display: flex;
	align-items: center;
	height: 50px;
	gap: 10px;
	padding: 0 20px;
	border: 2px solid var(--highlight);
	border-radius: 25px;
	margin: 0 15px 0 0;
}

.filter-button:hover {
	background-color: var(--filter-bg-color);
	cursor: pointer;
}

.filter-button p {
	font-size: 17px;
	font-weight: 700;
}

.filter-button-group {
	display: flex;
	flex-direction: row;
}

.filter-bar h3 {
	margin: 0 15px 0 0;
}

/* Infos */

.infos {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 35px;
}

.info-icon {
	border: 1px solid var(--highlight);
	width: 24px;
	height: 24px;
	border-radius: 15px;
	padding: 5px;
}
.infos p {
	font-size: 16px;
	font-weight: 400;
}

/* Section contenant Hébergements et Populaires */

#hebergements {
	display: flex;
	width: 100%;
	gap: 40px;
	margin-bottom: 35px;
}

/* Hebergement */

.container-hebergements {
	display: flex;
	flex-direction: column;
	background-color: var(--main-bg-color);
	border-radius: 15px;
	padding: 30px;
	gap: 30px;
	width: 60%;
	height: 100%;
}

.container-hebergements h3 {
	cursor: pointer;
}

.library-hebergements {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	gap: 30px;
}

.box-hebergements {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	width: 30%;
	min-width: 200px;
	height: 200px;
	border-radius: 20px;
	background: white;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
	padding-bottom: 15px;
}

.box-hebergements:hover {
	cursor: pointer;
}

.box-upper-hebergements {
	position: relative;
	overflow: hidden;
	border-radius: 20px 20px 0px 0px;
	border: 5px solid white;
	height: 150px;
	margin-bottom: 4px;
}

.box-upper-hebergements .img-hebergements {
	position: absolute;
	min-height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box-hebergements-item p {
	margin: 0;
	padding: 8px 0;
	font-size: 14px;
	font-weight: 400;
}

.box-hebergements-item {
	margin: 0;
	padding: 0 15px;
}

/* Les plus populaires */

#populaire {
	display: flex;
	flex-direction: column;
	padding: 30px;
	gap: 20px;
	background-color: var(--main-bg-color);
	border-radius: 15px;
	flex: 1;
}

.populaire-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.graph-populaire {
	height: 20px;
}

.box-populaire-group {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex: 1;
	gap: 20px;
}

.box-populaire {
	display: flex;
	flex: 1;
	max-height: 150px;
	border-radius: 20px;
	background: white;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.box-populaire:hover {
	cursor: pointer;
}

.box-populaire-content {
	flex-direction: column;
	align-content: flex-start;
	overflow: hidden;
	padding: 10px 5px 5px 15px;
	flex: 1;
	position: relative;
}

.box-populaire-left {
	position: relative;
	overflow: hidden;
	border-radius: 20px 0px 0px 20px;
	border: 5px solid white;
	width: 33%;
	min-width: 20%;
	height: 150px;
}

.box-populaire-left .img-populaire {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.box-populaire-item p {
	font-size: 14px;
	font-weight: 400;
	padding: 8px 0;
	margin: 0;
}

.box-populaire-item-stars {
	padding: 5px 0;
	position: absolute;
	bottom: 0;
}

/* Activités à Marseille */

#activites {
	display: flex;
	flex-direction: column;
	padding: 30px;
	width: 100%;
	margin-bottom: 35px;
	gap: 30px;
}

.container-activites {
	display: flex;
	flex-flow: row wrap;
	gap: 30px;
}

.box-activites {
	display: flex;
	flex-direction: column;
	flex: 1;
	border-radius: 20px;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.box-activites:hover {
	cursor: pointer;
}

.box-activites-item {
	overflow: hidden;
	position: relative;
	border-radius: 20px 20px 0 0;
	height: 380px;
}

.box-activites-item .img-activites {
	position: absolute;
	min-width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.box-activites h4 {
	padding: 20px;
}

/* Footer */

footer {
	display: flex;
	align-items: flex-start;
	align-self: stretch;
	margin: 0 50px;
	background-color: var(--main-bg-color);
}

footer a {
	font-size: 16px;
	font-weight: 400;
}

footer a:hover {
	font-size: 16px;
	font-weight: 700;
}

.a-propos {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	padding: 20px;
	gap: 15px;
}

.nos-hebergement {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	padding: 20px;
	gap: 15px;
}

.assistance {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	padding: 20px;
	gap: 15px;
}

/* Affichage Tablette */

@media (max-width: 1024px) {
	/* Filter*/

	.filter-bar {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	.filter-bar .filter-button-group {
		flex-direction: row;
	}

	.filter-button p {
		font-size: 16px;
		font-weight: 700;
	}

	/* Hebergements */

	#hebergements {
		flex-direction: column;
	}

	.container-hebergements {
		width: 100%;
	}

	.box-hebergements {
		min-width: 0;
	}

	/* Populaires */

	#populaire {
		width: 100%;
	}

	.box-populaire-group {
		display: flex;
		flex-direction: row;
	}

	.box-populaire-left {
		flex: none;
	}

	/* Activités */

	.box-activites-item {
		height: 200px;
	}

	.box-activites-item .img-activites {
		height: 100%;
	}

	/* Footer */

	footer {
		gap: 30px;
	}
}

/* Affichage Téléphone */

@media (max-width: 768px) {
	/*Body*/

	body {
		padding: 0;
	}

	/*Header*/

	header {
		display: flex;
		flex-direction: column;
	}

	.hlogo {
		align-self: center;
	}

	nav ul {
		height: 35px;
		width: 100%;
		padding: 0;
		margin: 0;
		gap: 0;
	}

	nav li {
		display: flex;
		justify-content: center;
	}

	.nav-button {
		width: 100%;
		justify-content: space-around;
		padding: 0 0 14px 0;
	}

	.nav-button:hover {
		color: var(--main-color);
		border-bottom: 2px solid var(--main-color);
		border-top: none;
	}

	/* Main*/

	main {
		margin: 0;
		padding: 0;
	}

	/* Infogroup */

	#infogroup {
		padding: 0 20px;
	}

	.search-bar {
		width: 66vw; /* Solution temporaire */
	}

	.search-submit {
		font-size: 0;
		height: 50px;
		width: 50px;
		border-radius: 15px;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		margin-left: -15px;
	}

	.loupe {
		display: block;
		margin-left: -33px;
		pointer-events: none;
	}

	/*Filter*/

	.filter-button-group {
		flex-flow: row wrap;
		justify-content: space-around;
		gap: 20px;
		margin: 0;
	}

	.filter-button {
		flex-grow: 1;
		width: 45%;
		margin: 0;
		min-width: 140px;
	}

	.filter-button p {
		font-size: 14px;
		font-weight: 700;
	}

	/* Populaires */

	#hebergements {
		flex-direction: column-reverse;
	}

	#populaire {
		border-radius: 0;
		padding: 30px 20px;
		margin-bottom: 15px;
	}

	.box-populaire-group {
		flex-direction: column;
	}

	/* Hebergements */

	.container-hebergements {
		width: 100%;
		padding: 20px;
		margin: 0;
		gap: 15px;
		background-color: white;
	}

	.library-hebergements {
		gap: 15px;
	}

	.box-hebergements {
		width: 100%;
	}

	/* Activités */

	.container-activites {
		flex-direction: column;
		gap: 15px;
	}

	/* Footer */

	footer {
		flex-direction: column;
		margin: 0;
		padding: 30px;
		gap: 50px;
	}
}
